<!DOCTYPE html>
<html>
<head>
<! Style sheet and favicon below >
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel="icon" href="/static/favicon.ico" />
<link rel="bookmark" href="/static/favicon.ico" />
<link rel="shortcut icon" href="/static/favicon.ico" />

</head>

<body>
<h1>
Catalog
</h1>
<br>
	<ul>
		<div id = "EditDiv" 
		{% if user_name == "" %}
			style="visibility:hidden"
		{% endif %}>
				<li><a href ='{{ url_for('addCatalogItem')}}'>Add Item</a></li> 
		</div>
		<div id = "logoutDiv" 
			{% if user_name == "" %}
				style="visibility:hidden"
			{% endif %}>
				<li><a href='{{ url_for('gdisconnect') }}'>Logout</a></li>
		</div>
		<div id = "loginDiv" 
			{% if user_name != "" %}
				style="visibility:hidden"
			{% endif %}>
				<li><a href='{{ url_for('catalog_landing') }}'>Login Page</a></li>
		</div>
	</ul>

<br>
<br>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
{% for message in messages %}
<li><strong>{{message}}</strong></li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}	
<br>
<br>
<table valign="top" align="left">
<tr>
	<td valign="top">
		<table  valign="top">
			<tr>
				<h2>
					Categories 
				</h2>
			</tr>
			{% for i in category_items %} 
			<tr>
			<td span>
				<a href='{{ url_for('displayCategoryItemList', category_name = i.name)}}'>{{i.name}}</a> 
			</td>
			</tr>
			{% endfor %}
		</table>
	</td>
	<td valign="top">
		<table  style="border-left:1pt solid black; span">
			<tr>
				<h2>
					Latest Items ({{item_size}} items)
				</h2>
			</tr>

			{% for i, j in items %}
			<tr>
				<td>
				<a href ='{{ url_for('displayCatalogItemDetail', category_name = i.name, item_name = j.name)}}'>{{j.name}} ({{i.name}})</a> 
				</td>
			</tr>
			{% endfor %}
		</table>
	</td>
</tr>
</table>

</body>

</html>
